* {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.poetShow {
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    background-color: white;
    font-family: Andale Mono, monospace;
}

.poets {
    background-color: #222831;
    border-radius: 5px;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 
    color: white;
    margin-right: 13%;
}