{% extends "poetsShown/base.html" %}
{% load static %}

{% block title %}

    <title>{{author}} şiirleri</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/authorPoets.css' %}">

{% endblock title %}

{% block body %}

    <h1>{{author}}</h1>
    <br>
    <a href="{% url 'index' %}">Ana Sayfa <i class="fa-solid fa-house"></i></a>
    <br>
    <br>
    <a href="{% url 'author' %}">Yazarlar <i class="fa-solid fa-pen"></i></a>


    <div class="container">
        {% for poet in authorPoet %}
    <ul class="authorList">
        <li class="authorShow">
                <div class="author"><a href="{% url 'poet_show' pk=poet.id %}">{{ poet.poetName }}</a></div>
        </li>
        {% endfor %}
    </ul>


    </div>

{% endblock %}
