{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yazarlar</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/author.css' %}">
    <script src="https://kit.fontawesome.com/b461c2f143.js" crossorigin="anonymous"></script>
</head>
<body>

    <h1>Yazarlar</h1>
    <a href="{% url 'index' %}" >Ana Sayfa <i class="fa-solid fa-house"></i></a>

    <div class="container">
        <ul class="authorList">
            {% for author in authors %}
            <li class="authorShow">
                <div class="author">
                    <a href="{% url 'authorPoet' author=poets_shown_list.poetAuthor %}">{{ author }}</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
