{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{author}} şiirleri</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/authorPoets.css' %}">
</head>
<body>
    <div class="container">
        <div class="authorShow">
            {% for poet in authorPoet %}
                <div class="author"><a href="{% url 'poet_show' name=poet.poetName %}">{{ poet.poetName }}</a></div>
            {% endfor %}
        </div>

    </div>
</body>
</html>