{% extends "poetsShown/base.html" %}
{% load static %}

{% block title %}

    <title>Yazarlar</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/author.css' %}">

{% endblock title %}

{% block body %}    

    <div class="home"><a href="{% url 'index' %}" >Ana Sayfa <i class="fa-solid fa-house"></i></a></div>
    
    <h1>Yazarlar</h1>
    
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ authorForm }}
            <button type="submit" class="submitBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    
    <div class="container">
        <ul>
            {% for author in authors %}
            <li class="authorShow">
                <div class="author">
                    <a href="{% url 'author_shown' poetAuthor=author.author %}">{{ author }}</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock body %}
