{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şiirler</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/index.css' %}">
</head>
<body>

    <div class="container">
        <ul>
            <h1>Şiirler</h1>

            {% for poet in poets %}

            <li>
                <div class="poetShow">
                    <a href="{% url 'poet_show' author=poet.poetAuthor %}" class="poetLink">
                        <div class="poet">{{ poet.poetAuthor }}</div>
                        <div class="poetName">{{ poet.poetName }}</div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>

</body>
</html>
