{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şiirler</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/index.css' %}">
    <script src="https://kit.fontawesome.com/b461c2f143.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <ul>

            <h1>Şiirler</h1>

            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="submitBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form> 

            {% for poet in poets %}

            <li>
                <div class="poetShow">
                    <a href="{% url 'poet_show' name=poet.poetName %}" class="poetLink">
                        <div class="poet">{{ poet.poetName }}</div>
                        <div class="poetName">{{ poet.poetAuthor }}</div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>

</body>
</html>
