{% extends "poetsShown/base.html" %}
{% load static %}
    {% block title %}

    <title>Şiirler</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/index.css' %}">

{% endblock title %}

{% block body %}

    <div class="container">
        
        <div class="menu">
            <div class="menu-toggle" onclick="toggleMenu()">...</div>
            <div class="dropdown-menu" id="dropdownMenu">
              <ul>
                <li><a href="{% url 'author' %}">Yazarlar</a></li>
                <li><a href="{% url 'popularity' %}">Popüler</a></li>
                <li><a href="https://github.com/AmenoAmena/poetProject" target="_blank">Geliştirme</a></li>
              </ul>
            </div>
          </div>
          

        <ul>

            <h1>Şiirler</h1>

            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="submitBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            
            {% for poet in page_obj %}  

            <li>
                <div class="poetShow">
                    <a href="{% url 'poet_show' pk=poet.id  %}" class="poetLink">
                        <div class="poet">{{ poet.poetName }}</div>
                        <div class="poetName">{{ poet.poetAuthor }}</div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page=1">1</a></li>
                    {% if page_obj.number > 3 %}<li><span>...</span></li>{% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            {% if num == page_obj.number %}
                                <li><span>{{ num }}</span></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}<li><span>...</span></li>{% endif %}
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                {% else %}
                    <li><span>1</span></li>
                    <li><a href="?page=2">2</a></li>
                    <li><a href="?page=3">3</a></li>
                    {% if page_obj.paginator.num_pages > 3 %}<li><span>...</span></li>{% endif %}
                {% endif %}
            </ul>

        </div>
        
        
    <script src="{% static 'poetsShown/js/index.js' %}"></script>

{% endblock body %}

