{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% for p in poet %}
        {{p.poetName}}
        {% endfor %}
    </title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/poets.css' %}">
</head>
<body>

    <div class="container">
        {% if poet %}
            {% for p in poet %}
                <h1>{{ p.poetAuthor }}</h1>
                <h2>{{ p.poetName }}</h2>
                <hr>
                <pre class="poet-context">{{ p.poetContext }}</pre>
            {% endfor %}
        {% else %}
            <p>No poet found.</p>
        {% endif %}
    </div>
</body>
</html>
