{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b461c2f143.js" crossorigin="anonymous"></script>
    <title>
        {{poet.poetName}}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'poetsShown/img/poem.png' %}">
    <link rel="stylesheet" href="{% static 'poetsShown/css/poets.css' %}">
</head>
<body>

    <div class="container">
            
        <a href="{% url 'index' %}">Ana Sayfa <i class="fa-solid fa-house"></i></a>
        {% if poet %}
            <h1><a href="{% url 'author_shown' pk=author.id %}">{{ poet.poetAuthor }}</a></h1>
            <h2>{{ p.poetName }}</h2>   
            <div class="poetShow">
                <div class="poet">{{ poet.poetName }}</div>
                <div class="poetName">{{ author.name }}</div>
            </div>
                <hr>
                <pre class="poet-context">{{ poet.poetContext }}</pre>
        {% else %}
            <p>No poet found.</p>
        {% endif %}
    </div>
</body>
</html>
