{% extends "poetsShown/base.html" %}
{% load static %}

{% block title %}
    <title>Sonuçlar</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/popularitySearch.css' %}">
{% endblock title %}

{% block body %}

    <h1>Sonuçlar: "{{ searched }}"</h1>
    <a href="{% url 'index' %}" >Ana Sayfa <i class="fa-solid fa-house"></i></a>

    <div class="container">
        
        <ul>

            {% for poet in poets %}
            <li>
                <div class="poetShow">
                    <a href="{% url 'author_shown' pk=poet.id %}" class="poetLink">
                        <div class="poet">{{poet.poetName}}</div>
                        <div class="poetName">{{poet.poetAuthor}}</div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
        
{% endblock body %}
