{% extends "poetsShown/base.html" %}
{% load static %}

{% block title %}

    <title>Popülerler</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/popularity.css' %}">

{% endblock title %}

{% block body %}    

    <a href="{% url 'index' %}" >Ana Sayfa <i class="fa-solid fa-house"></i></a>
    <h1>Popüler Şiirler</h1>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="submitBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>


    <div class="container">
        
        <ul>


            {% for poet in ordered_poets %}
            <li>
                <div class="poetShow">
                    <a href="{% url 'poet_show' name=poet.poetName %}" class="poetLink">
                        <div class="poet">{{ poet.poetName }}<div>
                            <div class="poetName">{{poet.poetAuthor}}</div>
                        </div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>

{% endblock body %}
