{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonuçlar</title>
    <link rel="stylesheet" href="{% static 'poetsShown/css/search.css' %}">
    <script src="https://kit.fontawesome.com/b461c2f143.js" crossorigin="anonymous"></script>

</head>
<body>

    <h1>Search Results for "{{ searched }}"</h1>
    <a href="{% url 'index' %}" >Ana Sayfa <i class="fa-solid fa-house"></i></a>

    <div class="container">
        
        <ul>


            {% for poet in poets %}

            <li>
                <div class="poetShow">
                    <a href="{% url 'poet_show' author=poet.poetAuthor %}" class="poetLink">
                        <div class="poet">{{ poet.poetAuthor }}</div>
                        <div class="poetName">{{ poet.poetName }}</div>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>

</ul>
</body>
</html>